#IDE Related
.*
!/.gitignore
!/.gitmodules
#temporary ignore
manifest/
ogp
tmp
tmpl
thumbs.db

#temporary
log
sessions
vendor
config.php
upload.php
.upload
userconfig/
/sql/
/as
testx/
testmail.php
assets.php
assets/js/jQuery/plugins/
