#temporary ignore
/install/
manifest/
ogp
.settings
.buildpath
tmp
tmpl
.project
.svn
thumbs.db
.cache
/info.php
protected/.cache
assets/js
assets/applications
Libs/
daemons/

#temporary
log
sessions
tmp
vendor
/globe
config.php
upload.php
.upload
userconfig/
