.news-detail .date {
  display: block;
  font-size: 1em;
  font-style: italic;
  color: #E00;
  color: #666;
}
.news-detail .title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}
.news-detail .short-descr {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
}
.news-detail .detail {
  text-align: justify;
}
.news-detail .detail .imgarticle {
  display: inline;
  float: left;
  max-width: 300px;
  padding: 3px;
  margin: 3px 10px 5px 0;
  clear: left;
  border: 1px solid #CCC;
}
.news-detail .detail .imgarticle img {
  max-width: 300px;
  max-height: 300px;
  margin: 0 0 2px;
}
