.dashboard-app {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dashboard-app li {
  padding: 4px;
  margin: 2px auto;
  border-radius: 2px;
}

.dashboard-app li a img {
  width: 32px;
  height: 32px;
}

.dashboard-app li a span {
  text-align: center;
}
