.dashboard-app {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dashboard-app li {
  margin: 2px auto;
  padding: 4px;
  border-radius: 2px;
}
.dashboard-app li a img {
  width: 32px;
  height: 32px;
}
.dashboard-app li a span {
  text-align: center;
}
