#websocket-info {
	
}
#websocket-info .log {
	border:1px solid red;
	height:150px;
	max-height: 150px;
	overflow: auto;
}

.share-community img {
	margin :4px;
	border:1px solid #ccc;
	border-radius:2px;
}