.action-ext {
  padding-left: 25%;
  text-align: center;
}
.auth-external {
  margin: 4px;
}
.auth-external .tdl {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background: transparent url("/assets/images/social.png") no-repeat;
}
.auth-external .title {
  margin-left: 10px;
}
.auth-external.auth-external-google .tdl {
  background-position: -160px 0;
}
.auth-external.auth-external-facebook .tdl {
  background-position: -32px 0;
}
td.login-container {
  padding: 0;
  font: 81.25% arial, helvetica, sans-serif;
}
td.login-container form {
  margin-top: 10px;
}
td.login-container form label {
  color: #333;
}
td.login-container form .logon-info {
  padding-left: 20px;
}
td.login-container form .form-actions {
  padding-left: 20px;
}
td.login-container h2 {
  position: relative;
  height: 16px;
  margin: 0 0 1.2em 20px;
  font-size: 16px;
  line-height: 17px;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: white;
}
.login-form .left {
  padding: 0;
  background-color: white;
}
.login-form .left .headers h1 {
  color: #d45500;
}
.login-form .left .ui-widget-content {
  border: none;
}
.login-form .left .features {
  color: #333;
  list-style: none;
}
.login-form .left .features li {
  margin: 3px 0 2em;
  list-style: none;
}
.login-form .left .features p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 68px;
}
.login-form .left .features .title {
  margin-bottom: .3em;
  font-size: 16px;
}
.login-form .left .features .feature-img {
  float: left;
  margin: -3px 0 0;
}
